In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('merged.csv')

In [7]:
max_cap = pd.read_csv('max_cap.csv')

In [9]:
max_cap.columns = ['size', 'max_monthly_volume']
max_cap['size'] = max_cap['size'].str.extract('(\d+)').astype(int)
max_cap

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipykernel_115067/1204874569.py:2: SyntaxWarning: invalid escape sequence '\d'
  max_cap['size'] = max_cap['size'].str.extract('(\d+)').astype(int)

    size max_monthly_volume
0     50             14,400
1     80             36,000
2    100             56,700
3    125             90,000
4    150            144,000
5    200            225,000
6    250            360,000
7    300            567,000
8    350            900,000
9    400          1,440,000
10   500          2,250,000

In [13]:
max_cap.rename(columns={'size': 'Meter Size'}, inplace=True)

In [12]:
temp = df[['Subscription Code','Meter Size','Consumption (m³)']]
temp

      Subscription Code  Meter Size  Consumption (m³)
0                520009        50.0               NaN
1                200654        80.0           2727.77
2                622162        50.0               NaN
3                515618       125.0          14647.50
4                529232       125.0               NaN
...                 ...         ...               ...
78799            925247        50.0               NaN
78800            518473       100.0            177.14
78801            201250        50.0              0.00
78802            925005       100.0               NaN
78803            102290       150.0            552.70

[78804 rows x 3 columns]

In [18]:
temp = temp.merge(max_cap, on='Meter Size', how='left')

In [19]:
temp['Consumption (m³)'].fillna(0, inplace=True)

/tmp/ipykernel_115067/1971154359.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  temp['Consumption (m³)'].fillna(0, inplace=True)

In [25]:
temp['max_monthly_volume'] = temp['max_monthly_volume'].str.replace(',', '').astype(float)

In [26]:
anomalies = temp[temp['Consumption (m³)'] > temp['max_monthly_volume']]

In [27]:
anomalies

      Subscription Code  Meter Size  Consumption (m³)  max_monthly_volume
23               517638       100.0        113348.600             56700.0
38               514059       100.0        217861.500             56700.0
70               805221        50.0         18570.289             14400.0
75               514579       100.0        193203.300             56700.0
82               515530       150.0        248740.010            144000.0
...                 ...         ...               ...                 ...
73466            515834        50.0         66900.000             14400.0
73550            514608       150.0       4636654.900            144000.0
75655            515834        50.0        109237.100             14400.0
75739            514608       150.0        202893.700            144000.0
77844            515834        50.0         89221.500             14400.0

[811 rows x 4 columns]

In [35]:
len(anomalies['Subscription Code'].value_counts())

418

In [36]:
418 / 2179

0.19183111519045434

تعداد مشتریانی با مصرف بیشتر از میانگین ماهانه برابر با 418 میباشد که

مقادیر بالا فقط از بین مشترکینی هست که ماکسیمم مصرف آنها در ماه کمتر یک میلیون متر مکعب باشد.
مقادیر بالای یک میلیون قبلا حذف شده اند

NameError: name 'np' is not defined